[user]
	name = TakaK22
	email = 25346710+TakaK22@users.noreply.github.com
[alias]
	co = checkout
	cob = checkout -b
	br = branch
	st = status -s --branch
	cm = commit
	df = diff
	dfc = diff --cached
	fe = fetch
	fep = fetch --prune
	gr = grep
	gcap = gc --aggressive --prune=now
	s = status
	ss = status -s
	#lg = log --oneline
	lg = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
	lg = log --graph --date=format:'%Y/%m/%d %H:%M:%S' --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'
	lga = !"git lg --all"
	lgfp = !"git lg --first-parent"
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	review = diff origin/master...
	review-files = diff origin/master... --name-only
[color]
	ui = auto
[pull]
	rebase = false
	ff = only
[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv
[core]
	attributesfile = /Users/kudoutakanori/.gitattributes
[init]
	defaultBranch = main
